<%= form_with(model: discussion, local: true) do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :lesson_id %>
    <%= form.collection_select :lesson_id, Lesson.all, :id, :title, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
