<h1>Lessons</h1>
<%# <%= link_to 'New Lesson', new_course_lesson_path(@course) %> %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.title, course_lesson_path(lesson.course, lesson) %></td>
        <td><%= truncate(lesson.content, length: 50) %></td>
        <td><%= lesson.course.title %></td>
        <td><%= link_to 'Show', course_lesson_path(lesson.course, lesson) %></td>
        <td><%= link_to 'Edit', edit_course_lesson_path(lesson.course, lesson) %></td>
        <td><%= link_to 'Destroy', course_lesson_path(lesson.course, lesson), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
