<h1><%= @lesson.title %></h1>
<p><%= @lesson.content %></p>
<p>Course: <%= @lesson.course.title %></p>
<%= link_to 'Edit', edit_course_lesson_path(@lesson.course, @lesson) %> |
<%= link_to 'Back to Lessons', course_lessons_path(@lesson.course) %>
