<h1>Lessons for <%= link_to @course.title, course_path(@course) %></h1>

<%= link_to 'New Lesson', new_course_lesson_path(@course) %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.title, course_lesson_path(@course, lesson) %></td>
        <td><%= truncate(lesson.content, length: 50) %></td>
        <td>
          <%= link_to 'Edit', edit_course_lesson_path(@course, lesson) %> |
          <%= link_to 'Delete', course_lesson_path(@course, lesson), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
