<h1>Courses</h1>

<%= form_with url: courses_path, method: :get, local: true do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>

<tr><%= will_paginate @courses %></tr>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Lessons</th>
      <th>Enrollments</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, course_path(course) %></td>
        <td><%= truncate(course.description, length: 50) %></td>
        <td><%= number_to_currency(course.price) %></td>
        <td><%= link_to 'View Lessons', course_lessons_path(course) %></td>
        <td> <%= link_to 'View Enrollments', enrollments_path(course_id: course.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Course', new_course_path %>

